<input  type="text" id="{{ label_for }}"
        data-custom="{{ field_custom_data }}"
        name="{{ field_name }}"
        value="{{ field_value }}"
        style="width: 22rem;">
<p>Note: This is the name of the <strong>uploads folder</strong> to which you want to sync the actual <strong>wp-content/uploads</strong> content.</p>
<p>if you are not sure, you most probably just have to leave it to the default <strong>uploads</strong></p>
