<input  type="text" id="{{ label_for }}"
        data-custom="{{ field_custom_data }}"
        name="{{ field_name }}"
        value="{{ field_value }}"
        style="width: 22rem;">
<p>Note: The name of the <strong>bucket</strong> from Backblaze b2 that you want to use with this blog</p>
