<div class="wrap">
    <h1>{{ admin_page_title }}</h1>
    <h3>Use the Log below to keep track of what is happening or to spot any error during the Sync</h3>
    <form name="log_page_form" action="" method="post">
        <table class="form-table">
            <tr>
                <td><u>Every line in the log file is being displayed</u></td>
            </tr>
            <tr>
                <td>The log file <strong>is cleared for every sync process</strong> that is launched so that you get fresh output each time</td>
            </tr>
            <tr>
                <td>{{ error_msg }}</td>
            </tr>
            <tr>
                <td width="100%">
				<textarea name="txtlog" class="large-text code" style="height:450px;" wrap="off" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">{{ txtlog_value }}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" class="button-primary" value="Clear the Log" name="clearlog_btn" />
                </td>
            </tr>
        </table>
    </form>
</div>
